/* ==== A SIMPLE CSS RESET FROM ERIC MEYER ==== */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*====HELPER COLORS FOR LAYOUT====*/

/*.container{
background:violet;
}

.header{
  background: blue;
}
.main{
  background: blue;
}
.aside{
  background: yellow;
}
.footer{
  background: red;
}

/*====main header styles====*/

* {
	box-sizing: border-box;
}
.container{
  width: 80%;
  max-width: calc(100vh-10px);
  margin: 0 auto 1rem;
  padding:1.25rem;
  position: relative;
  }
body{
  background: url("assets/új háttér.jpg") no-repeat center center fixed;
  background-size: cover;
  line-height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
body {
  font-family: 'Roboto Mono', monospace;
  font-size:1.2rem;
  font-weight: bold;
}

img {
  width:20%;
  border-radius: 50%;
  position:absolute;
  top:-15vh;
  right:2.5vw;
}
h1,
h2 {
  font-family: 'Roboto Mono', monospace;
  font-size:2.125rem;
  font-weight: bold;
  color:black;
  letter-spacing: 1rem;
  line-height: 5rem;
}

/*====reszponziv====*/
/*====Layout Styles====*/

.header{
  padding: 0;
  color:black;
  margin-top:-15vh;
  height:33vw;
}
.main{
  width: 95%;
  margin-top:10%;
  padding: 0.3125rem;
  letter-spacing: 0.125rem;
  text-align:center;
}
.aside{
  width: 95%;
}
h1,h2,h3,h4,h5,h6,hgroup,
ul,ol,dd,
p,figure,
pre,table,fieldset,hr,img, .header,.main,.aside,.footer{
    margin-bottom: 1rem;
}
.aside, ul,li{
  list-style-type:none;
  display: inline;
  border: 0.625rem;
  border-radius: 0.625rem;
  padding-right: 0.5375rem;
  padding-left: 0.5375rem;
  margin: 0.9375rem;
  width: 95%;
  font-family: 'Open Sans', sans-serif;
}
.aside:hover{
  border: 1px solid #b60e63;
}
.footer{
  display: inline-block;
  border: 0.625rem;
  padding: 0.625rem;
  font-size: 1.7rem;
  color: black;
  margin-bottom: 1rem;
}
img:hover {
  transform: scale(0.5, 0.5);
  transition: all 0.5s ease-in-out;
  filter: grayscale(20%);
}
/*====media query====*/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
.main{
  font-weight: bold;
  }
.header,.main,.aside,.footer{
  width: 100%;
  max-width: calc(100vh-0.625rem);
  }
  .aside,.footer{
    display: inline;
    font-size:1.2rem;
  }
  .header{
    font-size:1.2rem;
    position:absolute;
    top:-30vh;
  }
  h1, h2{
    font-size:1.2rem;
  }
  img {
  width:30%;
  border-radius: 50%;
  position:absolute;
  top: 5vh;
  right:2.5vw;
  float:right;
}
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
.main {
  font-size:1.2rem;
  line-height: 2rem;
  font-weight: bold;

  }
.header,.main,.aside,.footer{
  width: 100%;
  max-width: calc(100vh-0.625rem);
  }
.aside,.footer{
    display: inline;
    font-size:1rem;
  }
.header{
    font-size:2.5rem;
    position:absolute;
    top:-30vh;
  }
  h1, h2{
    font-size:3rem;
  }
  img {
    width:20%;
    border-radius: 50%;
    position:absolute;
    top: 5vh;
    right:2.5vw;
    float:right;
}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .main {
    font-size:1.2rem;
    line-height: 2rem;
    font-family:  'Roboto Mono', monospace;
    font-weight: bold;
   
  }
  img {
    width:20%;
    border-radius: 50%;
    position:absolute;
    top: 0vh;
    right:2.5vw;
    float:right;
}
}
