/*.profile-card{
  background:violet;
}
.head{
  background: green;
}
.name{
  background: blue;
}
.headline{
  background: blue;
}
.content{
  background: yellow;
}
.about, .links{
  background: red;
}
/*CSS reset*/
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-size:100%;
  }

/*az oldal pozicionálása*/

.profile-card{
  width:1000px;
  max-width: calc(100vw - 10px);
}
body{
  display:flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.head, .links{
  text-align: center;
}
.content{
  font-size:25px;
  font-weight: 800;
  font-style: italic;
  color: black;
  width: 90%;
  margin: 0 auto;
  align-content: center;
}
.head {
  font-size:20px;
  font-weight: 800;
  font-style: italic;
  color: black;
  width: 90%;
  margin: 0 auto;
  align-content: center;
}
h1{
  font-size:50px;
  font-weight: 800;
  font-style: italic;
  font-family: Comic Sans MS;
}
h2{
  font-weight: 600;
  font-style: italic;
  font-family: Comic Sans MS;
}
img{
  width:270px;
  height:300px; 
  border-radius: 10%;
}
.profile-image {
  margin-top: 70px;
}
/*contact links*/
ul{
  list-style-type:none;
}
li{
  display:inline;
}
.head,.about{
  margin-bottom: 5%;
}
.content{
  padding:10% 1%;
}
body{
  background: url('assets/új háttér.jpg')no-repeat center center fixed;
  background-size:cover;
}

img {
  padding: 5px;
  background-color: white;
}
.content {
  border-top: 3px solid hsla(0, 0%, 30%, .8);
}
.about{
  font-style: italic;
  font-family: Comic Sans MS;
  text-align: center;
}

img:hover {
  transform: scale(0.5, 0.5);
  transition: all 0.5s ease-in-out;
  filter: grayscale(20%);
}

